/**
 * Handles styling for App.tsx
 */

html, body {
	font-size: 1rem;
	font-family: Helvetica, Arial, sans-serif;
}

.control-container {
	margin: 1rem auto;
	display: block;
	text-align: center;
}

select.player-selector {
	max-width: 400px;
	display: inline-block;
	margin-right: 2rem;
}

.reset-btn {
	display: inline-block;
}

.progress-container {
	max-width: 768px;
	margin: 30% auto 30% auto;
	font-size: 1.2rem;
}

footer {
	color: grey;
	margin: 0 auto;
	text-align: center;
	font-size: .85rem;
	/* 5% of viewport height */
	margin-top: 4vh;
}

/*
@media(min-height: 750px) {
	footer {
		position: absolute;
		right: 0;
		bottom: 1rem;
		left: 0;
	}
}
*/