.file-uploader {
	max-width: 700px;
	margin: 1rem auto;
	/* border: 1px solid black; */
	/* border-radius: 1%; */
	padding: 3rem;
}

.file-uploader .upload-btn {
	margin-top: 1rem;
}

.dropzone {
	border: 2px dashed green;
	height: 400px;
	width: 600px;
}

.dropzone p {
	text-align: center;
	margin-top: 20%;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 1.1rem;
}

.file-upload-form {
	margin-top: 1rem;
	border: 1px solid black;
	border-radius: 1%;
	padding: 1rem;
}

.file-upload-form label {
	display: block;
	text-align: center;
	font-size: 1.1rem;
}