.file-uploader {
	/* set this to the same width as the dropzone */
	max-width: 700px;
	/* center the container on the page */
	/* set margin-top relative to the page _height_ */
	margin: 8vh auto 0 auto;
	text-align: center;
	/* does not include footer */
	height: 100%;
}

.file-uploader .upload-btn {
	margin-top: 1rem;
}

.dropzone {
	border: 2px dashed green;
	height: 400px;
	width: 700px;
}

.dropzone p {
	text-align: center;
	margin-top: 20%;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 1.1rem;
}

.file-upload-form {
	margin-top: 1rem;
	border: 1px solid black;
	border-radius: 1%;
	padding: 1rem;
}

.file-upload-form label {
	display: block;
	text-align: center;
	font-size: 1.1rem;
}

.file-uploader a.btn {
    margin-right: 1rem;
}