/**
 * Handles styling for App.tsx
 */

html, body {
	font-size: 1rem;
	font-family: Helvetica, Arial, sans-serif;
}

.reset-btn {
	margin: 1rem auto 0 auto;
	display: block;
}

.player-selector {
	margin: 1rem;
}

.progress-container {
	max-width: 768px;
	margin: 1rem auto;
}

footer {
	color: grey;
	margin: 0 auto;
	text-align: center;
	font-size: .85rem;
}