html, body {
	font-size: 1rem;
	font-family: Helvetica, Arial, sans-serif;
}

.reset-btn {
	margin: 1rem auto 0 auto;
	display: block;
}

.player-selector {
	margin: 1rem;
}
footer {
	color: grey;
	margin: 0 auto;
	text-align: center;
	font-size: .85rem;
}