.timeline {
	margin-left: 2rem;
	margin-bottom: 1rem; /* some whitespace at the bottom */
}

img.icon {
	height: 1rem;
	margin-right: .5rem;
}

.turn {
	display: block;
}

.turn-number {
	border-radius: 50%; /* round */
	height: 2.7rem;
	width: 2.7rem;
	background-color: #06a313;
	text-align: center;
	padding: .5rem;
	margin-right: 1rem;
}

.moment {
	display: inline-block;

	border: 1px solid black;

	margin-top: .5rem;
}

.moment:not(.turn-number) {
	padding: .5rem;
	margin-right: .5rem;
}

/* moment colouring */
.MOMENT_GOODY_HUT_TRIGGERED {
	background-color: orange;
}

.MOMENT_BATTLE_FOUGHT {
	background-color: #f97070;
}

.MOMENT_GREAT_PERSON_CREATED_GAME_ERA {
	background-color: #bec1bd;
}

.MOMENT_GOVERNMENT_ENACTED_TIER_1_FIRST_IN_WORLD, .MOMENT_GOVERNMENT_ENACTED_TIER_1_FIRST,
.MOMENT_GOVERNMENT_ENACTED_TIER_2_FIRST_IN_WORLD, .MOMENT_GOVERNMENT_ENACTED_TIER_2_FIRST,
.MOMENT_GOVERNMENT_ENACTED_TIER_3_FIRST_IN_WORLD, .MOMENT_GOVERNMENT_ENACTED_TIER_3_FIRST {
	background-color: #cd59ff;
}

.MOMENT_CIVIC_CULTURVATED_IN_ERA_FIRST {
	background-color: #7207b5;
	color: white;
}

.MOMENT_TECH_RESEARCHED_IN_ERA_FIRST {
	background-color: #5c9ef9;
}

.MOMENT_GAME_ERA_STARTED_WITH_GOLDEN_AGE {
	background-color: #ffb71e;
}

.MOMENT_GAME_ERA_STARTED_WITH_DARK_AGE {
	background-color: #161512;
	color: white;
}

.MOMENT_CITY_BUILT_ON_DESERT {
	background-color: #ffd48c;
}

.moment[data-tip]:not([data-tip=""]) {
	cursor: pointer;
}
